/* TODO PULIR CADA ESTILO UNO POR UNO */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: poppins, sans-serif;
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
    margin-top: 20px;
}


/* Header */
header {
    color: white;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo .icon {
    width: 40px;
    height: auto;
}

.headernav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.headernav li {
    margin: 0;
}

.headernav a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #314438;
}

.headernav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.hero {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: rgb(243, 240, 237)
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 20px;
}

.hero-text{
    max-width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.hero-text p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 66%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

.hero-cta {
    background-color: #314438;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap;
}

button:hover {
    background-color: rgb(131, 85, 1);
}
/* Info Section */
.info-section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 1440px; 
    margin: 0 auto;
}

.info-section .maintitle {
    font-size: 2em;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.info-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.info-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.info-image {
    width: 35%;
    height: auto;
    border-radius: 8px;
}

/* Profiles */

.profiles-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px;
}

.profiles-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px; 
}

.info-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.info-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #314438;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.info-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #314438;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #314438;
}

.icons-container i {
    font-size: 1.5em;
    color: #314438;
}

.profiles-column {
    flex: 2; /
}

.profiles-column {
    list-style: none;
    width: 700px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 30px;
    color: white;
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-content h2 {
    font-size: 1.4em;
    margin: 10px 0 5px;
    color: #314438;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.profile-subtitle {
    font-size: 1em;
    margin-bottom: 10px;
    color: #314438;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.profile-content p {
    font-size: 0.7em;
    margin: 0 0 15px;
    color: #314438;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.button-link,
.buttonBorrar {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.button-link {
    background-color: #314438;
    margin-right: 10px;
}

.buttonBorrar {
    background-color: #dc3545;
    border: none;
    cursor: pointer;
}

/* Cards  */
.profile-card.left {
    flex-direction: row;
}

.profile-card.right {
    flex-direction: row-reverse;
    margin-left: 20px;
    margin-right: 0;
}

/* Create Profile Button */
.create-profile {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.create-profile:hover {
    background-color: rgb(138, 90, 2);
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #314438;
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
}

footer .text-52 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer p {
    font-size: 0.9em;
}