/* General styles */
body {
    margin: 24px;
    padding: 0;
    font-family: 'Muli', sans-serif;
    background-color: #f8f9fa;
}

.container-fluid {
    max-width: 70%;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 0 24px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-brand {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navbar-toggler {
    border: none;
    background: none;
    color: white;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-left: 0;
}

#navbarResponsive {
    font-weight: 700;
}

.nav-item {
    margin-left: 16px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffc107;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* HERO SECTION */
#about {
    padding: 80px 0;
    margin-top: 80px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#resume-section-hero, 
#experience, 
#education,
#interest,
#skills,
#social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#description-hero {
    width: 60%;
}

#image-profile {
    width: 200px;
    height: 260px;
    border-radius: 35%;
}

#name-hero {
    font-size: 64px;
    margin: 36px;
}

#personal-information-hero {
    font-size: 20px;
}

#description-hero {
    font-size: 16px;
    padding: 20px;
}

#social-icons-hero {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.social-icon {
    display: flex;
    margin: 12px;
    transition: transform 0.3s, margin 0.3s;
    color: black;
}

.social-icon:hover {
    transform: scale(1.9);
    margin: 0 20px;
}

/* EXPERIENCE */
#experience-title, 
#title-education {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}

#experience-section, 
#timeline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#experience-sub-section, 
.timeline-item {
    margin: 0;
    width: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
 
}

#experience-sub-title, 
.timeline-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.text-primary {
    color: #a47148;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    color: #555;
}

.subheading {
    font-weight: bold;
}

/* Sección de habilidades */
.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.skill-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}

#p-skill-section {
    font-size: 18px;
    color: #555;
}


/* Sección de redes sociales */
.social-section, 
.interest-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.social-section h2, 
.interest-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#social-links a {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#social-links a:hover {
    color: #0056b3;
}

#p-interest-section {
    font-size: 18px;
    color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-brand {
        font-size: 18px;
    }
}


.nav-volver{
    margin-left: 16px;
    
}

.volver-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.volver-link:hover {
    color: #ffc107;
}